$node-size: 4vh;
$node-hover-emphasis: 0.15vh;
$node-color: lightgrey;
$color-emphasis: 20%;
$assets-path: '../../assets';
$node-regular-types:
  "inactive" white,
  "wall" #000000, // TODO
  "brick-wall" #00000000,
  "hay-wall" #00000000,
  "start" #83e0c1,
  "end" #f79cee,
  "bridge" burlywood;

$node-path-types:
  "visited-first" #17955b,
  "visited-second" #b43ca4,
  "taken-first" #0043ca,
  "taken-second" #0043ca;

.graph-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.node-basics {
  box-sizing: border-box;
  background-clip: content-box;
  display: block;
  position: relative;
  width: $node-size;
  height: $node-size;
  border: 0.5px lightgrey solid;
}

@mixin node-color ($color: lightgrey) {
  background-color: $color;

  &:hover {
    background-color: darken($color, $color-emphasis);
  }
}

@mixin pop($type, $color) {
  animation: pop-#{$type} 0.25s 0s;
  @keyframes pop-#{$type} {
    0% {
      padding: 25%;
    }

    75% {
      padding: 0%;
      transform: scale(1.2);
      border: none;
      z-index: 1000;
    }

    100% {
      padding: 0%;
      transform: scale(1);
    }
  }
}

@mixin unpop($type, $color) {
  animation: unpop-#{$type} 0.5s ease 0s forwards;
  @keyframes unpop-#{$type} {
    0% {
      padding: 0%;
    }

    50% {
      padding: 25%;
    }

    100% {
      padding: 0%;
    }
  }
}
// TODO add radius. try starting the pop with it being circular, then going to square
@mixin search-pop($type, $color) {
  @if $type == "taken-first" or $type == "taken-second" {
    animation: search-bubble-out 2s infinite ease 0s forwards;
  } @else {
    animation: search-pop-#{$type} 2s ease 0s forwards;
  }

  @keyframes search-pop-#{$type} {
    0% {
      padding: 40%;
      background-color: lightyellow;
      border-radius: 25px;
      border: 0px;
    }

    40% {
      padding: 0%;
      background-color: darken($color: $color, $amount: $color-emphasis);
      border: 0px;
    }

    60% {
      padding: 0%;
      background-color: darken($color: $color, $amount: $color-emphasis);
      transform: scale(1.1);
      border: 0px;
    }
  }
  @keyframes search-bubble-out {
    40% {
      background-color: darken($color: $color, $amount: $color-emphasis);
    }

    60% {
      background-color: darken($color: $color, $amount: $color-emphasis);
    }
  }
}

@each $type, $color in $node-regular-types {
  .#{$type}-node {
    @extend .node-basics;
    @include node-color($color);
    @if $type != "inactive" {
      @include pop($type, $color);
    } @else {
      // TODO @include unpop($type, $color);
    }
    @if $type == "wall" {
      border: 0px;
    }
  }
}

@each $type, $color in $node-path-types {
  .#{$type}-node {
    @extend .node-basics;
    background-color: $color;
    @include search-pop($type, $color);
    @if $type == "taken-first" or $type == "taken-second" {
      border: 0px;
    }
  }
}

.brick-wall-node { // TODO
  background-image: url(#{$assets-path}/BrickWall.png);
  background-size: contain;
}

.hay-wall-node { // TODO
  background-image: url(#{$assets-path}/HayWall.jpg);
  background-size: contain;
}