$node-size: 5vh;
$node-hover-emphasis: 0.15vh;
$node-color: lightgrey;
$color-emphasis: 20%;
$node-spacing: 0.15vh;

.node-basics {
  box-sizing: border-box;
  background-clip: content-box;
  display: block;
  position: relative;
  width: $node-size;
  height: $node-size;
  padding: $node-spacing;
  
  // &:hover {
  //   TODO padding: $node-spacing + $node-hover-emphasis !important;
  //   background-color: darken($node-color, $color-emphasis);
  // }
}

@mixin node-color ($color: lightgrey) {
  border: 0px;
  background-color: $color;

  &:hover {
    background-color: darken($color, $color-emphasis);
  }
}

.inactive-node {
  @extend .node-basics;
  @include node-color;
  //animation: 1s ease 1 pulse;
}

.wall-node {
  @extend .node-basics;
  @include node-color(black);
  // animation: 1s ease 1 pulse;
}

.start-node {
  @extend .node-basics;
  @include node-color(aquamarine);
  // animation: 1s ease 1 pulse;
}

.end-node {
  @extend .node-basics;
  @include node-color(aqua);
  // animation: 1s ease 1 pulse;
}

.bridge-node {
  @extend .node-basics;
  @include node-color(green);
  // animation: 1s ease 1 pulse;
}

.visited-node {
  @extend .node-basics;
  @include node-color(pink);
  // animation: 1s ease 1 pulse;
}

.taken-node {
  @extend .node-basics;
  @include node-color(red);
  // animation: 1s ease 1 pulse;
}

// @keyframes pulse() {
//   0% {
//     background-color: $node-color;
//     transform: scale(1);
//   }

//   50% {
//     background-color: darken($node-color, $color-emphasis);
//     transform: scale(0.9);
//   }

//   100% {
//     background-color: $node-color;
//     transform: scale(1);
//   }
// }