$node-size: 5vh;
$node-hover-emphasis: 0.15vh;
$node-color: lightgrey;
$color-emphasis: 20%;
$node-spacing: 0.15vh;

.node {
  box-sizing: border-box;
  background-clip: content-box;
  display: block;
  position: relative;
  width: $node-size;
  height: $node-size;
  padding: $node-spacing;
  
  &:hover {
    // TODO padding: $node-spacing + $node-hover-emphasis !important;
    background-color: darken($node-color, $color-emphasis);
  }
}

.inactive-node {
  @extend .node;
  background-color: $node-color;
}

.wall-node {
  @extend .node;
  $node-color: black;
  background-color: $node-color;

  &:hover {
    background-color: darken($node-color, $color-emphasis);
  }
}

.start-node {
  @extend .node;
  $node-color: aquamarine;
  background-color: $node-color;

  &:hover {
    background-color: darken($node-color, $color-emphasis);
  }
}

.end-node {
  @extend .node;
  $node-color: aqua;
  background-color: $node-color;

  &:hover {
    background-color: darken($node-color, $color-emphasis);
  }
}

.bridge-node {
  @extend .node;
  $node-color: green;
  background-color: $node-color;

  &:hover {
    background-color: darken($node-color, $color-emphasis);
  }
}

.visited-node {
  @extend .node;
  $node-color: pink;
  background-color: $node-color;

  &:hover {
    background-color: $node-color;
  }
}

.taken-node {
  @extend .node;
  $node-color: red;
  background-color: $node-color;

  &:hover {
    background-color: $node-color;
  }
}