$color: lightgrey;
$color-emphasis: 20%;

button {
  border-radius: 5vh !important;
  padding: 1vh 3vh !important;
  border: none !important;
  margin: 0vh 1vh !important;
  background-color: $color !important;
  color: black !important;
  font-size: 1rem !important;

  &:hover {
    background-color: darken($color, $color-emphasis) !important;
  }

  &:disabled {
    background-color: darken($color, 2 * $color-emphasis) !important;
  }
}

.question-icon {
  cursor: pointer !important;
  margin: 0vh 2vh;

  &:hover {
    color: darken($color, $color-emphasis) !important;
  }
}

.github-wrapper {
  color: $color !important;
  padding: 0vh 0vh 0vh 1vh !important;

  svg {
    border-radius: 50% !important;

    &:hover {
      color: darken($color, $color-emphasis) !important;
    }
  }
}

.building-wall-type-img {
  width: 4vh;
  height: 4vh;
  margin: 0vh 1vh;
}